PollingApiExample/PSWinCom.PollingApiExampleConsoleApp/Service References/PollingApi/Poll.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pswin.com/SOAP/Poll" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pswin.com/SOAP/Poll" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PSWinCom SMS Gateway SOAP Interface for Polling of DR and MO</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pswin.com/SOAP/Poll">
      <s:element name="AcknowledgeMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcknowledgeMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AcknowledgeMessageResult" type="tns:AcknowledgeResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AcknowledgeResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchNextMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ackRequired" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchNextMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchNextMessageResult" type="tns:FetchResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SMSMessage" type="tns:IncomingSMSMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IncomingSMSMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Network" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Address" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Position" nillable="true" type="tns:GSMPosition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GSMPosition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lattitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Radius" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Council" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CouncilNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Place" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubPlace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchNextDeliveryReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ackRequired" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchNextDeliveryReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchNextDeliveryReportResult" type="tns:FetchDRResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchDRResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryReportID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DelivertReportTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryReportMessage" type="tns:DeliveryReport" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeliveryReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryTime" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AcknowledgeMessageSoapIn">
    <wsdl:part name="parameters" element="tns:AcknowledgeMessage" />
  </wsdl:message>
  <wsdl:message name="AcknowledgeMessageSoapOut">
    <wsdl:part name="parameters" element="tns:AcknowledgeMessageResponse" />
  </wsdl:message>
  <wsdl:message name="FetchNextMessageSoapIn">
    <wsdl:part name="parameters" element="tns:FetchNextMessage" />
  </wsdl:message>
  <wsdl:message name="FetchNextMessageSoapOut">
    <wsdl:part name="parameters" element="tns:FetchNextMessageResponse" />
  </wsdl:message>
  <wsdl:message name="FetchNextDeliveryReportSoapIn">
    <wsdl:part name="parameters" element="tns:FetchNextDeliveryReport" />
  </wsdl:message>
  <wsdl:message name="FetchNextDeliveryReportSoapOut">
    <wsdl:part name="parameters" element="tns:FetchNextDeliveryReportResponse" />
  </wsdl:message>
  <wsdl:portType name="PollSoap">
    <wsdl:operation name="AcknowledgeMessage">
      <wsdl:input message="tns:AcknowledgeMessageSoapIn" />
      <wsdl:output message="tns:AcknowledgeMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchNextMessage">
      <wsdl:input message="tns:FetchNextMessageSoapIn" />
      <wsdl:output message="tns:FetchNextMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchNextDeliveryReport">
      <wsdl:input message="tns:FetchNextDeliveryReportSoapIn" />
      <wsdl:output message="tns:FetchNextDeliveryReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PollSoap" type="tns:PollSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AcknowledgeMessage">
      <soap:operation soapAction="http://pswin.com/SOAP/Poll/AcknowledgeMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchNextMessage">
      <soap:operation soapAction="http://pswin.com/SOAP/Poll/FetchNextMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchNextDeliveryReport">
      <soap:operation soapAction="http://pswin.com/SOAP/Poll/FetchNextDeliveryReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PollSoap12" type="tns:PollSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AcknowledgeMessage">
      <soap12:operation soapAction="http://pswin.com/SOAP/Poll/AcknowledgeMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchNextMessage">
      <soap12:operation soapAction="http://pswin.com/SOAP/Poll/FetchNextMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchNextDeliveryReport">
      <soap12:operation soapAction="http://pswin.com/SOAP/Poll/FetchNextDeliveryReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Poll">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PSWinCom SMS Gateway SOAP Interface for Polling of DR and MO</wsdl:documentation>
    <wsdl:port name="PollSoap" binding="tns:PollSoap">
      <soap:address location="http://sms.pswin.com/SOAP/Poll.asmx" />
    </wsdl:port>
    <wsdl:port name="PollSoap12" binding="tns:PollSoap12">
      <soap12:address location="http://sms.pswin.com/SOAP/Poll.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>